:root{
    --sandN:#EBEFB3;
    --light-greenB:#B2D732;
    --light-pinkAGd:#F7D4E3;
    --grayh3:#696969;
    --darkPFGd:#2B3409;
    --pinkh1:#F8BFD7;
    --brownN:rgba(135, 88, 18, 0.803);
    --redN: #FE2712;
    --light-blueN:rgba(73, 136, 144, 0.923);
    --blackN:black;
    --blue-Gd:#2989d8;
    --dark-blue-Gd:#207cca;
    --shadow:whitesmoke;


}



