
    header img{
        display: none;
    }
    aside{
        display: block;
        width: 50%;
        margin-left:25%;
    }
    main{
        max-width:100%;
    }
    footer{
        text-align: center;
    }
    .navig a {
        list-style-type: none;
        margin-left: 5px;
        padding-bottom: 10px;
    }



@media only screen and (min-width: 600px) {
    header img{
        display: block;
    }
    .light-green-Bc{
        display: grid;
    grid-template-rows: [header-start]122px [content-start] auto [aside]auto [footer-start]100px;
    grid-template-columns: [nav] 200px [main]auto;
    grid-template-areas:
    "head head head"
    "nav main main"
    "aside aside aside"
    "footer footer footer";
    grid-row-gap: 3px;
    grid-auto-flow: column;
    }
    .head{
        grid-area: head;
    }
    .middle{
        grid-area: main;
        max-width: 100%;
    }
    .side{
        grid-area: aside;
        text-align: center;
        width: 100%;
        margin-left: 0%;
    }
    .navig{
        grid-area: nav;
        background: none;
    }
    .navig a {
        list-style-type: none;
        margin-left: 5px;
        padding-bottom: 20px;
    }
    .foot{
        grid-area: footer;
        text-align: center;
    }

}
@media only screen and (min-width: 1024px) {
    .light-green-Bc{
    display: grid;
    grid-template-rows: [header-start]122px [content-start] auto [footer-start]100px;
    grid-template-columns: [nav] 200px [main]auto [aside] 160px;
    grid-template-areas:
    "head head head"
    "nav main aside"
    "footer footer footer";
    grid-row-gap: 3px;
    grid-auto-flow: column;


}
.head{
    grid-area: head;
}
.middle{
    grid-area: main;
}
.side{
    grid-area: aside;
    align-self:center;
    margin-left: 0%;
}

.navig {
    grid-area: nav;
    background-color:var(--sandN);
}
.navig a{
    top: 0;
    right: 0;

}
.navig a:hover {
    list-style-type: none;
    margin-left: 5px;
    transition: top .2s, box-shadow .5s;
    box-shadow: 3px 4px 2px #222;
    top: 8px;
    right: 5px;

}
.foot{
    grid-area: footer;
    text-align: center;
}
}