:root{
    --sandN:#E4F132 ;
    --light-greenB:#A7A984  ;
    --light-pinkAGd:#CFD7FC;
    --grayh3:#951E04   ;
    --darkPFGd:black;
    --pinkh1:#2bc9db    ;
    --brownN:rgba(58, 61, 100, 0.803);
    --redN: #a1acac;
    --light-blueN:rgba(218, 129, 39, 0.923);
    --blackN:rgb(137, 80, 159);
    --blue-Gd:#1436DB    ;
    --dark-blue-Gd:#969827;
    --shadow:rgb(96, 135, 142);


}